@use 'colors';
@use 'dimensions';

.article {
  backdrop-filter: blur(4px);
  padding: 1em;

  &-header {
    position: relative;
    width: 100%;
    margin-bottom: 4em;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 3/1;
    }
  }

  .article-header > img {
    margin: 0;
    display: block;
  }

  &-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;

    margin: 0;
    padding: .5em .5em .25em 0.5em;
    background-color: rgba(0, 0, 0, 0.5);

    * {
      transition: font-size .5s ease-in-out ;
    }
  }

  h2 {
    margin-top: 2em;
  }

  blockquote {
    border-left: 0.25em solid colors.$lightPink;
    padding-left: 0.25em;
  }

  img {
    margin: 1em 0;
  }

  pre {
    padding: 1em;
  }
}
