@use 'colors';

.breadcrumb {
  &-container {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.35em;

    a {
      color: colors.$lightPink;
    }
  }

  &::after {
    content: "/";
  }
}