@use 'colors';

.cta {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #141414;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.15em colors.$lightPink;

  text-align: center;
  transition: all 0.3s ease-in-out;

  a {
    font-size: 2em;
    font-weight: lighter;
    color: colors.$light;
    text-decoration: none;

    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: colors.$light;
    color: #141414;
    box-shadow: 0 0 1em #141414;

    a {
      color: colors.$obsidian;
    }
  }
}