@use 'colors';
@use 'dimensions';

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-top: 2rem;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

a {
  font-size: 1em;
  color: colors.$lightPink;
}

p {
  font-size: 1em;
  line-height: 1.75em;
}

.hover-bold {
  &:hover {
    font-weight: bold;
  }
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1rem;
}

@media screen and (min-width: dimensions.$vsmallBp) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: dimensions.$smallBp) {
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: dimensions.$mediumBp) {
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 2rem;
  }
}