@use 'colors';

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

a {
  font-size: 1em;
  color: colors.$lightPink;
}

p {
  font-size: 1em;
  line-height: 1.75em;
}