.hero {
  &-container {
    margin: 8em auto;

    display: flex;
    flex-direction: column;
    max-width: 700px;

    * {
      margin: 0;
    }

    .second-row {
      font-size: 3em;
    }
  }
}