@use 'dimensions';

.layout {
  &-wrapper {
    margin: auto;
    max-width: dimensions.$smallBp;
    
    @media screen and (min-width: dimensions.$smallBp) {
      max-width: dimensions.$mediumWidth;
    }

    @media screen and (min-width: dimensions.$mediumBp) {
      max-width: dimensions.$largeWidth;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(18em, 100%), 1fr));
    grid-gap: 1.5em;
  }

  &-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;

    &.center {
      justify-content: center;
    }
  }

  &-ma {
    margin: auto;
  }
}

.mb {
  &-2 {
    margin-bottom: 2rem;
  }

  &-4 {
    margin-bottom: 4rem;
  }
}

.mt {
  &-0 {
    margin-top: 0;
  }
}

.grid-item {
  padding: 1rem 0;
}

.absolute {
  position: absolute;
}