@use 'colors';
@use 'dimensions';

.neon-container {
  display: flex;
  position: relative;
  text-decoration: none;

  * {
    position: relative;
  }

  .neon-shadow {
    filter: blur(4px);
    opacity: 1;
    position: absolute;
  }
}

.article-link {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 10px;

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  h3 {
    display: block;

    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 1.5em 0.5em 1em 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 100%;

    transition-duration: .337s;
  }

  &:hover > h3 {
    font-size: 1.6em;
  }

  @media screen and (min-width: dimensions.$smallBp) {
    font-size: 14px;
  }

  @media screen and (min-width: dimensions.$mediumBp) {
    font-size: 16px;
  }
}

.letter-anim-text {
  &-container {
    position: relative;

    .letter {
      display: inline-block;
      transition: transform 0.3s ease-in-out;
    }
  }
}

.quote {
  margin: 3em 0;
  cite {
    font-style: italic;
    font-size: 2.5em;
    font-weight: 100;
  }
}