@use 'bgItems';
@use 'colors';
@use 'cta';
@use 'dimensions';
@use 'hero';
@use 'image';
@use 'layout';
@use 'link';
@use 'nav';
@use 'utils';

:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: colors.$obsidian;
  color: colors.$light;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  overflow-x: hidden;

  margin: 0;
  padding: 1rem;

}