@use 'article';
@use 'author';
@use 'bgItems';
@use 'breadcrumb';
@use 'code';
@use 'colors';
@use 'cta';
@use 'dimensions';
@use 'fonts';
@use 'hero';
@use 'image';
@use 'layout';
@use 'link';
@use 'nav';
@use 'paginator';
@use 'table';
@use 'utils';

:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: colors.$obsidian;
  color: colors.$light;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  overflow-x: hidden;

  margin: 0;
  padding: 1rem;

  font-size: 14px;

  @media screen and (min-width: dimensions.$smallBp) {
    font-size: 16px;
  }

  @media screen and (min-width: dimensions.$mediumBp) {
    font-size: 16px;
  }

  @media screen and (min-width: dimensions.$largeBp) {
    font-size: 18px;
  }
}

pre {
  overflow-x: scroll;
}