{% extends "base.html" %}

{% import "macro/page-link.html" as pager %}
{% import "macro/source-set.html" as imager %}

{% block animateSvg %}animate{% endblock animateSvg %}
{% block nav_item %}{% set showroomActive='active' %}{% endblock nav_item %}
{% block title %}
 {{ section.title}}
{% endblock title %}

{% block content %}
    <h2>Showroom</h2>
    <p>Projects that I've done recently</p>
    <div class="layout-grid">
        {% for page in section.pages %}
        {{ pager::link(page=page) }}
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
<script src="{{ get_url(path='assets/dotTraveller.js') }}"></script>
{% endblock scripts %}