{% extends "base.html" %}

{% block title %}home{% endblock title %}

{% block home_nav_item %}active{% endblock home_nav_item%}

{% block animateSvg %}animate{% endblock animateSvg %}

{% block content %}
{% set image = resize_image(path='static/assets/Redis_client.png', width=600, op='fit_width') %}

<div class="hero-container">
    <div class="first-row">ABjork.land - web developer</div>
    <h1 class="second-row">Building sustainable eCommerce and friendly API:s</h1>
</div>

<div class="cta">
    <a href="#">contact</a>
</div>

{% endblock content %}

{% block scripts %}
<script src="{{ get_url(path='assets/dotTraveller.js') }}"></script>
<script>
    dotTraveller("slider", "wave-1", "#FECDFC", "1");
    dotTraveller("slider", "wave-2", "#FECDFC", "2");
    dotTraveller("slider", "wave-3", "#FECDFC", "1");
    dotTraveller("slider", "wave-4", "#FECDFC", "2");
    dotTraveller("slider", "wave-5", "#FECDFC", "1");
</script>
{% endblock scripts %}