{% extends "base.html" %}

{% import "macro/breadcrumb.html" as breadcrumb %}
{% import "macro/source-set.html" as imager %}

{% block nav_item %}{% set articlesActive='active' %}{% endblock nav_item%}

{% block title %}
 {{ section.title}}
{% endblock title %}

{% block content %}
<div class="layout-row">
    {{ breadcrumb::breadcrumb(ancestors=section.ancestors) }}
    <h1>{{ section.title }}</h1>
</div>

<div class="link-container">
{% for subsectionPath in section.subsections %}
    {% set subsection = get_section(path=subsectionPath) %}
    {{ text::link(link=subsection.permalink | safe, linkText=subsection.title, linkClass='link') }}

{% endfor %}
</div>

<div class="layout-grid">
    {% for page in section.pages %}

    <a href="{{ page.permalink | safe }}" >
        <div class="article-link">
            <h3>{{ page.title }}</h3>
            {% for asset in page.assets %}
                {%- if asset is matching("hero[.](jpg|png)$") -%}
                    {{ imager::source_set(asset=asset, alt=page.title) }}
                {%- endif %}
            {% endfor %}
        </div>
    </a>
 {% endfor %}
 </div>
{% endblock content %}
