{% extends "base.html" %}

{% import "macro/source-set.html" as imager %}

{% block articles_nav_item %}active{% endblock articles_nav_item%}

{% block title %}
 {{ section.title}}
{% endblock title %}

{% block content %}
{{ section.content | safe }}

<div class="layout-grid">
    {% for page in section.pages %}
    <a href="{{ page.permalink | safe }}" >
        <div class="article-link">
            <h3>{{ page.title }}</h3>
            {% for asset in page.assets %}
                {%- if asset is matching("hero[.](jpg|png)$") -%}
                    {{ imager::source_set(asset=asset, alt=page.title) }}
                {%- endif %}
            {% endfor %}
        </div>
    </a>
 {% endfor %}
 </div>
{% endblock content %}