{% extends "base.html" %}

{% import "macro/breadcrumb.html" as breadcrumb %}
{% import "macro/page-link.html" as pager %}
{% import "macro/paginate.html" as paginate %}
{% import "macro/source-set.html" as imager %}

{% block nav_item %}{% set articlesActive='active' %}{% endblock nav_item%}
{% block animateSvg %}animate{% endblock animateSvg %}

{% block title %}
 {{ section.title}}
{% endblock title %}

{% block content %}
<div class="layout-row">
    {{ breadcrumb::breadcrumb(ancestors=section.ancestors) }}
    <h1>{{ section.title }}</h1>
</div>

<div class="link-container">
{% for subsectionPath in section.subsections %}
    {% set subsection = get_section(path=subsectionPath) %}
    {{ text::link(link=subsection.permalink | safe, linkText=subsection.title, linkClass='link') }}
{% endfor %}
</div>

<div class="layout-grid">
    {% set featured1 = get_page(path='articles/exploration/api_platform/index.md')  %}
    {% for page in paginator.pages %}
        <div class="grid-item">
            {{ pager::link(page=page) }}
            {% if page.taxonomies.tags %}
                <div class="tag-list">
                {% for tag in page.taxonomies.tags %}
                    {{ tag }}
                {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
 </div>
    {{ paginate::paginate(paginator=paginator)}}
    <nav class="pagination">
        {% if paginator.previous %}
            <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
        {% endif %}
        {% if paginator.next %}
            <a class="next" href="{{ paginator.next }}">Next ›</a>
        {% endif %}
    </nav>
{% endblock content %}
