{% macro page(page) %}

{% set metaImage = false %}

{% for asset in page.assets %}
    {% if asset is matching("meta[.](jpg|jpeg|png)$") %}
        {% set_global metaImage = true %}
        <meta property="og:image" content="{{ get_url(path=asset) }}" />
        {% break %}
    {% endif %}
{% endfor %}

{% if metaImage %}
{% else %}
    {% for asset in page.assets %}
    {% if asset is matching("hero[.](jpg|jpeg|png)$") %}
        {% set resizedImage = resize_image(path=asset, width=1200, height=627) %}
        <meta property="og:image" content="{{ resizedImage.url | safe }}" />
    {% endif %}
    {% endfor %}
   
{% endif %}

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="{{ page.permalink | safe }}" />


{% endmacro %}