{% macro page(page) %}

{% set metaImage = false %}

{% for asset in page.assets %}
    {% if asset is matching("meta[.](jpg|jpeg|png)$") %}
        {% set_global metaImage = true %}
        {% set resizedImage = resize_image(path=asset, width=1200, height=627) %}
<meta name="image" property="og:image" content="{{ resizedImage.url | safe }}" />
        {% break %}
    {% endif %}
{% endfor %}

{% if metaImage %}
{% else %}
    {% for asset in page.assets %}
    {% if asset is matching("hero[.](jpg|jpeg|png)$") %}
        {% set resizedImage = resize_image(path=asset, width=1200, height=627) %}
<meta name="image" property="og:image" content="{{ resizedImage.url | safe }}" />
    {% endif %}
    {% endfor %}
   
{% endif %}

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="{{ page.permalink | safe }}" />
<meta name="author" content="Anders Björkland" />

{% if page and page.date %}
<meta name="publish_date" property="og:publish_date" content="{{ page.date }}"> 
{% endif %}

{% endmacro %}