{% macro source_set(asset, alt="An image", aspect=3) %}

{% if aspect <= 0 %}
        {% set aspect = 3 %}  % Set a default value
{% endif %}

{% set smHeight = (240 / aspect) | round(method="floor", precision=0) | int %}
{% set mdHeight = (400 / aspect) | round(method="floor", precision=0) | int  %}
{% set lgHeight = (600 / aspect) | round(method="floor", precision=0) | int  %}

{% set smImage = resize_image(path=asset, width=240, height=smHeight) %}
{% set mdImage = resize_image(path=asset, width=400, height=mdHeight) %}
{% set lgImage = resize_image(path=asset, width=600, height=lgHeight) %}
<img
        alt="{{ mdHeight }}"
        src="{{ mdImage.url }}"
        srcset="{{ smImage.url }} 240w,
                    {{ mdImage.url }} 400w,
                    {{ lgImage.url }} 600w"
        sizes="(max-width: 240px) 200px,
                    (max-width: 400px) 360px,
                    600px"
/>
{% endmacro %}