{% macro source_set(asset, alt="An image") %}

{% set smImage = resize_image(path=asset, width=240, height=180) %}
{% set mdImage = resize_image(path=asset, width=400, height=300) %}
{% set lgImage = resize_image(path=asset, width=600, height=450) %}
<img
        alt="{{ alt }}"
        src="{{ mdImage.url }}"
        srcset="{{ smImage.url }} 240w,
                    {{ mdImage.url }} 400w,
                    {{ lgImage.url }} 600w"
        sizes="(max-width: 240px) 200px,
                    (max-width: 400px) 360px,
                    600px"
/>
{% endmacro %}